<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="auction_dbConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=auction_db;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
